web/WEB-INF/wsit-org.dccapi.portal.payment.facade.SandboxImpl.xml

<?xml version="1.0" encoding="UTF-8"?>
 <definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
              xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
              name="Sandbox"
              targetNamespace="http://service.portal/"
              xmlns:tns="http://service.portal/"
              xmlns:wsp="http://www.w3.org/ns/ws-policy"
              xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
              xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
              xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
              xmlns:sc="http://schemas.sun.com/2006/03/wss/server"
              xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy"
 >
    <message name="hello"/>
    <message name="helloResponse"/>
    <message name="register"/>
    <message name="registerResponse"/>
    <message name="login"/>
    <message name="log"/>
    <message name="logSearchResponse"/>
    <message name="loginResponse"/>
    <message name="payment"/>
    <message name="paymentResponse"/>
    <message name="deleteProfile"/>
    <message name="deleteProfileResponse"/>
    <message name="report"/>
    <message name="test"/>
    <message name="testResponse"/>
    <message name="auth"/>
    <message name="authResponse"/>
    <portType name="Sandbox">
        <operation name="hello">
            <input message="tns:hello"/>
            <output message="tns:helloResponse"/>
        </operation>
        <operation name="register">
            <input message="tns:register"/>
            <output message="tns:registerResponse"/>
        </operation>
        <operation name="login">
            <input message="tns:login"/>
            <output message="tns:loginResponse"/>
        </operation>
        <operation name="log">
            <input message="tns:log"/>
            <output message="tns:logSearchResponse"/>
        </operation>
        <operation name="payment">
            <input message="tns:payment"/>
            <output message="tns:paymentResponse"/>
        </operation>
        <operation name="deleteProfile">
            <input message="tns:deleteProfile"/>
            <output message="tns:deleteProfileResponse"/>
        </operation>
        <operation name="report">
            <input message="tns:report"/>
            <output message="tns:reportResponse"/>
        </operation>
        <operation name="test">
            <input message="tns:test"/>
            <output message="tns:testResponse"/>
        </operation>
        <operation name="auth">
            <input message="tns:auth"/>
            <output message="tns:authResponse"/>
        </operation>
    </portType>
    <binding name="SandboxPortBinding" type="tns:Sandbox">
        <operation name="hello">
            <input></input>
            <output></output>
        </operation>
        <operation name="register">
            <input></input>
            <output></output>
        </operation>
        <operation name="login">
            <input></input>
            <output></output>
        </operation>
        <operation name="log">
            <input></input>
            <output></output>
        </operation>
        <operation name="payment">
            <input></input>
            <output></output>
        </operation>
        <operation name="deleteProfile">
            <input></input>
            <output></output>
        </operation>
        <operation name="report">
            <input></input>
            <output></output>
        </operation>
        <operation name="test">
            <input></input>
            <output></output>
        </operation>
        <operation name="auth">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="Sandbox">
        <port name="SandboxPort" binding="tns:SandboxPortBinding"/>
    </service>
</definitions>
