src/java/Access.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.portal/" name="Access" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.portal/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.portal/" schemaLocation="Access_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="register">
    <part name="parameters" element="tns:register"/>
  </message>
  <message name="registerResponse">
    <part name="parameters" element="tns:registerResponse"/>
  </message>
  <message name="log">
    <part name="parameters" element="tns:log"/>
  </message>
  <message name="logResponse">
    <part name="parameters" element="tns:logResponse"/>
  </message>
  <message name="test">
    <part name="parameters" element="tns:test"/>
  </message>
  <message name="testResponse">
    <part name="parameters" element="tns:testResponse"/>
  </message>
  <message name="payment">
    <part name="parameters" element="tns:payment"/>
  </message>
  <message name="paymentResponse">
    <part name="parameters" element="tns:paymentResponse"/>
  </message>
  <message name="login">
    <part name="parameters" element="tns:login"/>
  </message>
  <message name="loginResponse">
    <part name="parameters" element="tns:loginResponse"/>
  </message>
  <message name="deleteProfile">
    <part name="parameters" element="tns:deleteProfile"/>
  </message>
  <message name="deleteProfileResponse">
    <part name="parameters" element="tns:deleteProfileResponse"/>
  </message>
  <message name="manage">
    <part name="parameters" element="tns:manage"/>
  </message>
  <message name="manageResponse">
    <part name="parameters" element="tns:manageResponse"/>
  </message>
  <portType name="AccessImpl">
    <operation name="register">
      <input wsam:Action="http://service.portal/AccessImpl/registerRequest" message="tns:register"/>
      <output wsam:Action="http://service.portal/AccessImpl/registerResponse" message="tns:registerResponse"/>
    </operation>
    <operation name="log">
      <input wsam:Action="http://service.portal/AccessImpl/logRequest" message="tns:log"/>
      <output wsam:Action="http://service.portal/AccessImpl/logResponse" message="tns:logResponse"/>
    </operation>
    <operation name="test">
      <input wsam:Action="http://service.portal/AccessImpl/testRequest" message="tns:test"/>
      <output wsam:Action="http://service.portal/AccessImpl/testResponse" message="tns:testResponse"/>
    </operation>
    <operation name="payment">
      <input wsam:Action="http://service.portal/AccessImpl/paymentRequest" message="tns:payment"/>
      <output wsam:Action="http://service.portal/AccessImpl/paymentResponse" message="tns:paymentResponse"/>
    </operation>
    <operation name="login">
      <input wsam:Action="http://service.portal/AccessImpl/loginRequest" message="tns:login"/>
      <output wsam:Action="http://service.portal/AccessImpl/loginResponse" message="tns:loginResponse"/>
    </operation>
    <operation name="deleteProfile">
      <input wsam:Action="http://service.portal/AccessImpl/deleteProfileRequest" message="tns:deleteProfile"/>
      <output wsam:Action="http://service.portal/AccessImpl/deleteProfileResponse" message="tns:deleteProfileResponse"/>
    </operation>
    <operation name="manage">
      <input wsam:Action="http://service.portal/AccessImpl/manageRequest" message="tns:manage"/>
      <output wsam:Action="http://service.portal/AccessImpl/manageResponse" message="tns:manageResponse"/>
    </operation>
  </portType>
  <binding name="AccessImplPortBinding" type="tns:AccessImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="register">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="log">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="test">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="payment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="login">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteProfile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="manage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="Access">
    <port name="AccessImplPort" binding="tns:AccessImplPortBinding">
      <soap:address location="http://telgar.randomlogic.net:7101/RLPAY/Access"/>
    </port>
  </service>
</definitions>

