src/conf/xml-resources/web-service-references/Sandbox/wsdl/localhost_7001/RLPAY/Sandbox.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.portal/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.portal/" name="Sandbox">
<types>
<xsd:schema>
<xsd:import namespace="http://service.portal/" schemaLocation="http://telgar.randomlogic.net:7101/RLPAY/Sandbox?xsd=1"/>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<message name="test">
<part name="parameters" element="tns:test"/>
</message>
<message name="testResponse">
<part name="parameters" element="tns:testResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="payment">
<part name="parameters" element="tns:payment"/>
</message>
<message name="paymentResponse">
<part name="parameters" element="tns:paymentResponse"/>
</message>
<message name="deleteProfile">
<part name="parameters" element="tns:deleteProfile"/>
</message>
<message name="deleteProfileResponse">
<part name="parameters" element="tns:deleteProfileResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="SandboxImpl">
<operation name="register">
<input wsam:Action="http://service.portal/SandboxImpl/registerRequest" message="tns:register"/>
<output wsam:Action="http://service.portal/SandboxImpl/registerResponse" message="tns:registerResponse"/>
</operation>
<operation name="test">
<input wsam:Action="http://service.portal/SandboxImpl/testRequest" message="tns:test"/>
<output wsam:Action="http://service.portal/SandboxImpl/testResponse" message="tns:testResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://service.portal/SandboxImpl/loginRequest" message="tns:login"/>
<output wsam:Action="http://service.portal/SandboxImpl/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="payment">
<input wsam:Action="http://service.portal/SandboxImpl/paymentRequest" message="tns:payment"/>
<output wsam:Action="http://service.portal/SandboxImpl/paymentResponse" message="tns:paymentResponse"/>
</operation>
<operation name="deleteProfile">
<input wsam:Action="http://service.portal/SandboxImpl/deleteProfileRequest" message="tns:deleteProfile"/>
<output wsam:Action="http://service.portal/SandboxImpl/deleteProfileResponse" message="tns:deleteProfileResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://service.portal/SandboxImpl/helloRequest" message="tns:hello"/>
<output wsam:Action="http://service.portal/SandboxImpl/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="SandboxImplPortBinding" type="tns:SandboxImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="test">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="payment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteProfile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Sandbox">
<port name="SandboxImplPort" binding="tns:SandboxImplPortBinding">
<soap:address location="http://telgar.randomlogic.net:7101/RLPAY/Sandbox"/>
</port>
</service>
</definitions>